.accountDetailsDiv {
    position: absolute; 
    top: 50px; 
    left: 0; 
    text-align: start;
    background-color: darkgreen;
    border: 5px solid black;
    padding: 10px;
    border-radius: 10px;
    z-index: 20; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 280px;
    border: 1px solid black;
}

.detailsP {
    background-color: darkolivegreen;
    border-radius: 5px;
    padding: 3px;
}

.detailsButton {
    margin-top: 5px;
}
