.userOptionsDropdown {
    position: relative;
  }
  
  .choicesDiv {
    position: absolute; 
    background-color: black;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 10; 
    max-height: 500px; 
    opacity: 1;
    width: fit-content; 
  }
  
  .choicesBtns {
    display: block;
    padding: 8px 12px; 
    cursor: pointer;
    margin: 5px; 
    white-space: nowrap; 
    min-width: 150px; 
    text-align: left; 
    color: white; 
  }
  
  .choicesBtns:hover {
    background-color: darkgreen; 
  }
  
  .componentContainer {
    margin-top: 10px; 
  }

  .userOptionsTitle {
    cursor: pointer;
  }
  