#root {
  max-width: 100vw;
  width: 100%;
  margin: 0 auto;
  display: block;
  align-items: center;
  text-align: center;
  background: url('../public/images/hikers.jpg') no-repeat center center/cover;
  background-attachment: fixed;
  min-height: 100vh;
}

.mainBody {
  width: 100vw;
  display: flex;
  flex-direction: column; /* Arrange items vertically */
  align-items: center; /* Center align items horizontally */
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7); /* Light background for better contrast */  
  
}

.header {
  display: block;
  align-items: center; /* Vertically center items */
  width: 100%;
  justify-content: space-between; /* Space between title and dropdown */
}

h1 {
  font-size: 2.5rem;
  margin: auto; 
}

.welcomeMessage {
  font-size: 1.2rem;
  margin-top: 10px; /* Space between title and welcome message */
}

.userOptionsDiv {
  margin-right: auto; /* Push user options to the left */
}

.gridContainer {
  display: flex; /* Use flexbox */
  flex-wrap: wrap; /* Allow wrapping of items */
  justify-content: center; /* Space items evenly */
  column-gap: 100px;
  row-gap: 30px; /* Space between items */
  width: 100%;
  margin-right: 5%;
  margin-top: 20px; /* Space above the grid */
}

.alertsDiv, .friendsOnlineDiv, .latestHikeDiv, .planHikeDiv, .aiAssistant, .signUpForPremium {
  flex: 0 1 calc(40% - 50px); /* Each item takes up half the width, minus gap */
  border-radius: 8px; /* Rounded corners */
  background-color: #ffffff; /* White background for each card */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  background-color: darkgreen;
}

.aiAssistant, .signUpForPremium {
  margin-left: 100px;
  padding-bottom: 10px;
}

/* Responsive design for smaller screens */
@media (max-width: 600px) {
  .gridContainer {
    flex-direction: column; /* Stack items in a single column on small screens */
  }

  .alertsDiv, .friendsOnlineDiv, .latestHikeDiv, .planHikeDiv, .aiAssistant {
    flex: 1 1 100%; /* Each item takes full width on small screens */
  }
}

.planHikeDiv {
  height: fit-content;
}

.createAccountBtn {
  width: fit-content;
}

.startScreen {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 50px;
  width: fit-content;
  margin: 0 auto;
  margin-top: 8%;
}